/target/
/.classpath
/.project
/aqcu-corr-application.yml
/.settings
/.vscode
**/*.crt
**/*.csr
**/*.key
**/*.chain
docker/certificates/intermediate1
docker/certificates/root
docker-compose-local.yml
